body {
  margin: 0;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-dark {
  background-color: #000000;
  color: white;
}

.box-div-dark {
  background-color: black;
  color: #FFFFFF;
}

.button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.box-div{
  border: solid;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-color: aqua;
  text-align: center;
  font-size: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.box-div-2 {
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}